// ==========================================================================
// Articles Section
// ==========================================================================
// Blog posts and articles grid

.articles {
    @include section-padding;
    
    .row {
        > [class*="col-"] {
            display: flex;
        }
        
        .post-card {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}

// --------------------------------------------------------------------------
// CTA Section
// --------------------------------------------------------------------------

.cta-section {
    @include section-padding;
    background-color: $color-gray-100;
    margin: 0 #{-$spacing-4};
    padding-left: $spacing-4;
    padding-right: $spacing-4;
    border-radius: $border-radius;
    
    @include respond-to('md') {
        margin: 0 #{-$spacing-6};
        padding-left: $spacing-6;
        padding-right: $spacing-6;
    }
    
    @include respond-to('lg') {
        margin: 0 #{-$spacing-8};
        padding-left: $spacing-8;
        padding-right: $spacing-8;
    }
    
    .cta-content {
        max-width: 600px;
        
        p {
            font-size: $font-size-lg;
            margin-bottom: $spacing-5;
        }
    }
}
