// ==========================================================================
// Images
// ==========================================================================
// Image styles and utilities

// --------------------------------------------------------------------------
// Image Box
// --------------------------------------------------------------------------

.image-box {
    overflow: hidden;
    border-radius: $border-radius;
    
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    &.fit {
        img {
            width: 100%;
        }
    }
}

// --------------------------------------------------------------------------
// Image Float
// --------------------------------------------------------------------------

.image {
    &.left {
        float: left;
        margin: 0 $spacing-5 $spacing-4 0;
        max-width: 40%;
        
        img {
            border-radius: $border-radius;
        }
    }
    
    &.right {
        float: right;
        margin: 0 0 $spacing-4 $spacing-5;
        max-width: 40%;
        
        img {
            border-radius: $border-radius;
        }
    }
    
    &.main {
        width: 100%;
        margin-bottom: $spacing-5;
        
        img {
            width: 100%;
            border-radius: $border-radius;
        }
    }
}

// --------------------------------------------------------------------------
// Clear floats after images
// --------------------------------------------------------------------------

p:has(.image.left),
p:has(.image.right) {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// --------------------------------------------------------------------------
// Responsive images
// --------------------------------------------------------------------------

@include respond-below('md') {
    .image {
        &.left,
        &.right {
            float: none;
            max-width: 100%;
            margin: 0 0 $spacing-4 0;
        }
    }
}
