// ==========================================================================
// Footer
// ==========================================================================
// Footer styles

.main-footer {
    margin-top: $spacing-8;
    padding-top: $spacing-6;
    border-top: 1px solid $border-color;
    text-align: center;
    
    p {
        font-size: $font-size-sm;
        color: $text-color-light;
        margin-bottom: 0;
        
        a {
            color: $color-primary;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
